<ion-header>
  <ion-toolbar color="light">
    <ion-title>Pupygram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="header-container">
          <div class="profile-container">
            <div class="profile-image">
              <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/fb569c6f-e836-41f8-9c35-120b52469f88/Absolute_Reality_v16_blue_haired_woman_posing_with_2_fingers_0.jpg?w=512" alt="Profile Picture" />
            </div>
            <div class="profile-info">
              <h2>Nombre de usuario</h2>
              <div class="stats-container">
                <p class="stat-item">Seguidores: 1000</p>
                <p class="stat-item">Likes: 500</p>
                <p class="stat-item">Seguidos: 200</p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="post-container">
          <div class="post-row">
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/ac430301-a6e7-462d-9c15-b8e470e4b851/Leonardo_Vision_XL_dog_1.jpg" alt="Post 1" />
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/ac430301-a6e7-462d-9c15-b8e470e4b851/Leonardo_Vision_XL_dog_2.jpg" alt="Post 2" />
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/ac430301-a6e7-462d-9c15-b8e470e4b851/Leonardo_Vision_XL_dog_3.jpg" alt="Post 3" />
              </div>
            </ion-col>
          </div>
          <div class="post-row">
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/d65bba1e-128f-43ae-873f-1bd02ccac1c7/Leonardo_Vision_XL_hamster_1.jpg" alt="Post 4" />
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/e5684199-a9c0-47a3-babc-387e9d84e6f8/Leonardo_Vision_XL_guinea_pig_0.jpg" alt="Post 5" />
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/e5684199-a9c0-47a3-babc-387e9d84e6f8/Leonardo_Vision_XL_guinea_pig_2.jpg" alt="Post 6" />
              </div>
            </ion-col>
          </div>
          <div class="post-row">
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/5bd7c3d6-8be2-487a-b101-c68b93d8646c/DreamShaper_v7_hamster_with_glasses_1.jpg?w=512" alt="Post 7" />
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/be091caf-9f9e-4219-b299-8894b027652c/DreamShaper_v7_dog_playing_with_a_hamster_0.jpg?w=512" alt="Post 8" />
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="post-item">
                <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/34b27bbf-6e9a-441a-9811-1cc1370ff28d/DreamShaper_v7_cat_with_glasses_1.jpg?w=512" alt="Post 9" />
              </div>
            </ion-col>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>