<ion-header>
  <ion-toolbar color="light">
    <ion-icon name="camera-outline"></ion-icon>
    <ion-title>Instagram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="user-container">
      <div class="user-profile">
        <div class="profile-image">
          <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/b0628939-98f2-4710-98ca-0d27ed554fc3/Leonardo_Vision_XL_blue_hair_asian_woman_with_red_and_yellow_p_0.jpg" alt="Profile Picture">
        </div>
        <div class="profile-username">
          <h2>mAFER.123</h2>
        </div>
      </div>

      <div class="user-post">
        <img src="https://qph.cf2.quoracdn.net/main-qimg-32f8e54649d71cf48b4890606c428721-lq" alt="User Post">
        <div class="user-actions">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="chatbubble-outline"></ion-icon>
          <ion-icon name="paper-plane-outline"></ion-icon>
        </div>
      </div>
    </div>

    <div class="user-container">
      <div class="user-profile">
        <div class="profile-image">
          <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/b20dcb9a-33ef-48be-aee3-8aaaec817a2e/Leonardo_Vision_XL_blue_hair_asian_woman_with_white_with_neon_0.jpg" alt="Profile Picture">
        </div>
        <div class="profile-username">
          <h2>LARUA.Ing</h2>
        </div>
      </div>

      <div class="user-post">
        <img src="https://i.pinimg.com/564x/c0/8b/62/c08b626ec835c66c07ddef435f84c967.jpg" alt="User Post">
        <div class="user-actions">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="chatbubble-outline"></ion-icon>
          <ion-icon name="paper-plane-outline"></ion-icon>
        </div>
      </div>
    </div>

    <div class="user-container">
      <div class="user-profile">
        <div class="profile-image">
          <img src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/8a1297c9-9fbd-4160-a108-704b5d7a1191/Leonardo_Vision_XL_blue_hair_asian_woman_with_red_and_yellow_p_1.jpg" alt="Profile Picture">
        </div>
        <div class="profile-username">
          <h2>Susanahoria</h2>
        </div>
      </div>

      <div class="user-post">
        <img src="https://i.pinimg.com/originals/70/35/9c/70359cb5f8397a99884a85484cd09821.jpg" alt="User Post">
        <div class="user-actions">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="chatbubble-outline"></ion-icon>
          <ion-icon name="paper-plane-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>  